<%- include ('header')%>
<%- include ('sidebar')%>
<%- include ('navbread')%>
   
    <section>
        <div class="container py-4 ">
          <div class="row">
            <div class="col-lg-12 mx-auto d-flex justify-content-center flex-column shadow-lg">
              <h3 class="text-center">User List</h3>
              <div class="card">
                <div class="table-responsive">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">S.No</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">FullName</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email ID</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mobile No</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Gender</th>
                        
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Address</th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% data.forEach((element, index) => {  %>
                        <!-- <%- element%> -->
                      <tr>
                        <td>
                          <%- index+1%>
                        </td>
                        <td>
                          <%- element.fullName%>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <%- element.emailId%>
                        </td>
                        <td class="align-middle text-center">
                          <%- element.mobileNo%>
                        </td>
                        <td class="align-middle">
                          <%- element.gender%>
                        </td>
                        <td class="align-middle">
                          <%- element.addresone%>
                        </td>
                        <td class="align-middle">
                          <a href="/listuser/<%- element.id%>" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            Edit
                          </a>|
                          <a href="/deleteDatas/<%- element.id%>" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            Delete
                          </a>
                        </td>
                      </tr>
              
                      <% }); %>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </main>

  <%- include ('footer')%>